@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
  font-weight: bold;
  font-size: 2.65rem;
}

.bg-light{
  background-color: #efefef
}
.bg-price{
  background-color: #254478;
}

.flow-hide {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.flow-hide-x {
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.flow-hide-x-1 {
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.flow-hide-x::-webkit-scrollbar{
  width: 0;
  height: 0;
  cursor: pointer;
}
.flow-hide::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
.hide-scroll{
    scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* Internet Explorer 10+ */
}
.hide-scroll::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}
.hero-bg{
  /* background-color: red;
  background-image: url(../assets/png/mwb.jpg) ; */
  background:  linear-gradient(rgba(0,0,0,0.5), rgba(0, 0 ,0,0.7)), url(../assets/png/mwb.jpg);
  width: 100%;
  height: 100vh;
  
 background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


@font-face {
  font-family: "gilroy";
  src: url("../assets/fonts/Gilroy-Black.woff");
  font-weight: 500;
}
@font-face {
  font-family: "gilroy";
  src: url("../assets/fonts/Gilroy-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "gilroy";
  src: url("../assets/fonts/Gilroy-Light.woff2");
  font-weight: 300;
}
@font-face {
  font-family: "gilroy";
  src: url("../assets/fonts/Gilroy-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "gilroy";
  src: url("../assets/fonts/Gilroy-Semibold.woff2");
  font-weight: 600;
}


